/* Скидання по тегам*/
body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;

}

.container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }


/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Секція Навігації*/
.header{
    border-bottom: 1px solid #e7e9fc;
        width: 100%;
}
.header-wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 24px; */
    /* padding-top: 24px; */
}
.nav{
    display: flex;
    align-items: center;
}
.logo{
    display: inline-block;
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer .logo{
    margin-bottom: 16px;
}
.logo-header{
    margin-right: 76px;
}
.logo-header-text{
color: #2E2F42;
}

.nav-list{
    display: flex;
    gap: 40px;
}
.nav-list-item{
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
   
}

.nav-list-item:hover,
    :focus{
    color:#404BBF;
}


.adress-header{
    
    font-style: normal;
}
.contacts{
display: flex;
gap: 40px;
}

.contacts-item{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
}
.contacts-item:hover,
    :focus {
    color: #404BBF;
}
/* Секція Лого(Hero)*/
.hero {
display: flex;
    background-color: #2E2F42;
        padding: 188px 0;
}
.hero-wrap{
    text-align: center;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin-bottom: 48px;
}
.hero-btn{
    display: block;
    cursor: pointer;
    background: #4D5AE5;
    font-family: "Roboto",  sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border:none;
    border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        margin: auto;
}
.hero-btn:hover, :focus{
    background-color: #404BBF;
}

/* Секція Проекти*/
.section{
    padding-bottom: 120px;
    padding-top: 120px;
    }
.feature-list{
    display: flex;
    gap: 24px;
}
.feature-list-item{
    width: calc((100% - 72px) / 4);
}
.feature-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    }
.feature-list-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/*Секція Команда*/
.team{
    background-color:#F4F4FD ;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;

}
.team-list{
    display: flex;
    gap: 24px;

}
.team-card{
        background: #FFFFFF;
        border-radius: 0 0 4px 4px;
        /* padding: 0px 0px 32px; */
        width: 264px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-card-img{
    /* margin-bottom: 32px; */
}
.team-card-wraper{
    padding: 32px 0;

}
.team-card-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 8px;
}

.team-card-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}


/*Секція портфоліо*/
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
        row-gap: 48px;
        column-gap: 24px;
        padding: 0;
        margin: 0;
}

.portfolio-card-wraper{
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;

    
}

.portfolio-card-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
}
.portfolio-card-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/* футер */
.footer{
    background-color: #2E2F42;
    padding: 100px 0;
}
.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
    margin-bottom: 16px;
}
.footer-text{
    font-weight: 400;
    font-size: 16px;
     line-height: 1.5;
    letter-spacing: 0.02em;
    color:#F4F4FD;
    max-width: 264px;
}